// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './mix';

.accordion {
    --bs-accordion-border-color: rgba(0,0,0,0.1);
    --bs-accordion-border-width: 1px;
}

.accordion-body-inner {
	  background-color: rgba(20,20,20,0.5);
    color: rgba(240,240,240,0.85);
}

.accordion-button {
	background-color: rgba(0, 0, 0, 0);
	color:rgba(240,240,240,0.8);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    color: rgba(255, 201, 46, 0.75)!important;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    border-bottom-color: blue;
}

.accordion-button:not(.collapsed)::after {
  border-bottom-color: blue!important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-active-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: rgba(0, 0, 0, 0.165);
}

body {
	background-color: $background-color;
	padding:$body-padding;
}

hr {
    height: 1px;
    background-color: rgba(250,250,250,0.2);
    border: none;
}

.rounded {
	border-radius: 5px;
}

* {
  box-sizing: border-box;
}


div.container-xxl.root-container {
	width: calc(100vw - #{$body-padding * 2});
	height: calc(100vh - #{$body-padding * 2});

	max-width:1700px!important;
	margin: 0 auto;
	position:relative;
	//border-radius:5px;
	border: 1px solid rgb(32,32,42);
}


/*.inner-container {
    height: 100%;
    width: 100%;
    position:absolute;
    background: -webkit-linear-gradient(bottom, 
                rgba(25,25,35,1) 0%, 
             
           		rgba(25,25,35,0.6) 50%,
               
         
                rgba(25,25,35,0.3) 100%,
    );
}*/

.break-text {
    overflow-wrap: break-word;
    hyphens: manual;
}


.flex-space-between {
	display:flex;
	justify-content:space-between;
	flex-direction:row;
}

.flex-center {
	display:flex;
	justify-content:center;
}

.donut:first-of-type {
	margin-right:50px;
}

.spoken-languages {
	margin-bottom:-15px;
}


.about-me-header {
	@include light-component-theme($theme: rgb(36,36,47));
	width:100%;
	padding:30px;
	padding-bottom:10px;
	text-align: center;
	.prof-pic {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		height: 100px;
		border-radius:50%;
		margin-bottom: 15px;
		opacity:0.85;
	}
}


.about-me-body {
	@include dark-component-theme;
	width:100%;
	padding:23px;
	overflow-y: scroll;
	height:calc(100% - #{$body-padding * 2} - 145px);
	z-index:-1!important;
	position:relative;
}


/*.about-me-footer {
	@include light-component-theme($theme: rgb(36,36,47));
	width:100%;
	height:50px!important;
	bottom:0;
	position:absolute;
}*/

.about-me-footer {
	@include light-component-theme($theme: rgb(36,36,47));
	width:100%;
	bottom:0;
	position:absolute;
	padding:5px;
}


.programming-languages {
	padding: 0 0 1px 0;
	z-index:1;
}

*::-webkit-scrollbar{
    display: none;
  }

.white-txt {
	color:rgba(241,241,241,0.77)!important;
}

.sub-heading {
	color:rgba(241,241,241,0.77)!important;
	font-weight:700!important;
	font-size:1.05rem;
}


.bold-txt {
	font-weight:700!important;
}

.download-cv {
	margin-bottom:110px!important;
	display:block;
}

a {
	text-decoration:none;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



a:hover, .nav-link:hover {
	color: rgba(255, 201, 46,1)!important;
	text-decoration:none;
	cursor:pointer;
}

.social-link {
	font-size:1.45rem;
	margin-right:15px;
	color:rgba(240, 240, 240,0.6)!important;
}

.social-link:last-of-type {
	margin-right:0;
}

@keyframes wobble {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-2px) rotate(-2deg);
        transform: translateX(-2px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(calc(2px / 2)) rotate(2deg);
        transform: translateX(calc(2px / 2)) rotate(2deg);
    }

    45% {
        -webkit-transform: translateX(calc(-2px / 2)) rotate(calc(-2deg / 1.8));
        transform: translateX(calc(-2px / 2)) rotate(calc(-2deg / 1.8));
    }

    60% {
        -webkit-transform: translateX(calc(2px / 3.3)) rotate(calc(2deg / 3));
        transform: translateX(calc(2px / 3.3)) rotate(calc(2deg / 3));
    }

    75% {
        -webkit-transform: translateX(calc(-2px / 5.5)) rotate(calc(-2deg / 5));
        transform: translateX(calc(-2px / 5.5)) rotate(calc(-2deg / 5));
    }
}

.social-link:hover {
	animation: wobble 2s ease 1;
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.social-links-wrapper {
	animation: 1s ease-in 0s 1 slideInFromLeft;
}





.content-container {
	padding: 16px;
	margin-left: 0;
	transition: $global-transition;
	background-color: rgb(42,42,52);
	scroll-behavior:smooth;
}

.content-container-shifted {
	margin-left:-200px!important;
	transition: $global-transition;
}



.foo {
	width:100%;
	height: 200px;
	background: url("/imgs/bg.jpg");
	background-repeat: no-repeat;
	//background-color:rgba(250,250,250,0.7);
	background-size: cover;
	overflow:hidden;
	//border: 1px solid rgba(0,0,0,0.13);
	font-family: 'Raleway', sans-serif;
	z-index: 1;
	opacity:0.85;
}

.foo::before {
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif!important;
	font-weight: 500;
}

#about-me, #work-experience, #side-projects, #hobbies-interests, #education, #skills {
	font-family: 'Lato', sans-serif;
	background-color: rgba(0,0,0,0.165);
	position: relative;
	padding:23px 33px 23px 33px;
	h1 {
		color: rgba(255, 201, 46,0.75);
		font-weight:bold;
	}
	p {
		color: rgba(245,245,245,0.75)!important;
		font-size:1rem;
	}
	white-space: wrap;
	min-width:100%;
}

#skills {
	display:none;
}



.nav-items {
    margin: auto;
    position: relative;
    top: 30%;
    list-style: none;
    text-align: left;
    left: 0px;
    transform: translateX(+100%);
    font-size:1rem;
    font-weight:bolder;
    a {
    	color:rgba(255, 201, 46,0.75)!important;
    }
}

.nav-items-open {
	display:block;
    transform: translateX(0%);
    transition: transform 1.5s;
}




/*.right-nav {
	@include dark-component-theme;
	height:calc(100% - #{$body-padding * 2});
	width: 100px;
	position:fixed;
	overflow:hidden;
}*/


.about-me-col {
	@include dark-component-theme;
	height:calc(100% - #{$body-padding * 2.1});
	width:$about-me-col-width;
	position:fixed;
	overflow:hidden;
	border-right:1px solid rgba(0,0,0,0.13);
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}


.main-container {
	height:100%;
	width: calc(100% - $about-me-col-width);
	margin-left: $about-me-col-width;
	
	position:relative;
	display:flex;
	overflow-x:hidden;	
}


.right-nav {
	width:80px;
	height:100%;
	@include dark-component-theme;
	transition: $global-transition;
	border-left:1px solid rgba(0,0,0,0.13);
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right-nav-open {
	width:300px;
	transition: $global-transition;
}


.content-container {
	width:100%;
	height:100%;
	overflow-y: scroll;
	//background:rgba(250,0,0,1);
	position:relative;
}


.nav-toggle-container {
	@include light-component-theme;
	padding: 15px 25px 10px 25px;
	border-top-right-radius: 0px;
}

#nav-toggler {
  height:200px;
  font-size:11px;
  width: 100%;
  height: 2.8125em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-toggler span {
  display: block;
  position: absolute;
  height: 0.4em;
  width: 2.3em;
  background: rgba(255, 201, 46,0.5);
  
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-toggler span:nth-child(1) {
  top: 0em;
}

#nav-toggler span:nth-child(2) {
  top: 0.84375em;
}

#nav-toggler span:nth-child(3) {
	top: 0.84375em;
	opacity:0;
}


#nav-toggler span:nth-child(4) {
  top: 1.6875em;
}

#nav-toggler.open span:nth-child(1) {
  top: 0.84375em;
  width: 0%;
  left: 50%;
}

#nav-toggler.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-toggler.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-toggler.open span:nth-child(4) {
  top: 0.84375em;
  width: 0%;
  left: 0%;
}


@media only screen and (max-width: 1300px){
  h1 {
    font-size:2.1rem!important;
  }
}

@media only screen and (max-width: 1035px){
  h1 {
    font-size:2rem!important;
  }
}



@media only screen and (max-width: 990px){
  h1 {
    font-size:1.7rem!important;
  }

  .right-nav {
  	display:none;
  }

	.about-me-col {
	  /*position: relative;*/
	  overflow: hidden;
	  width: 0;
	  transition: width 0.5s ease-out;
	}

	#skills {
		display:block;
	}


	.main-container {
		height:100%;
		width: 100%;
		margin-left: 0;
	}
}


@media only screen and (max-width: 715px){

	.root-container {
		padding:0px!important;
	}
}



@media only screen and (max-width: 630px){
  h1 {
    font-size:1.45rem!important;
  }

  .foo {
  	height:150px!important;
  }
}

@media only screen and (max-width: 590px){


	.about-me-col.active {
	  width: 100%;
	}


}